.thank-you div#navbar {
    background-color: #fff;
    @media screen and (max-width: 991px){
        background-color: unset;
    }
}

.thank-you .glitch,
.thank-you div#navbar .logo-and-nav-container #tn-nav > ul > li > a {
    color: #000;
    @media screen and (max-width: 991px) {
        color: rgb(255, 255, 255);
    }
}

.thank-you #hero-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 770px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
    }
}

.particles {
    position: fixed;
    z-index: -1;
    width: 100%;
}

#thank-you-page {
    padding-top: 70px;
    position: relative;
    > .container {
        > .row {
            z-index: 1;
            > .col {
                margin: 0 auto;
                padding-top: 150px;
                padding-bottom: 200px;
            }
        }
    }
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 42px;
        font-weight: 300;
        color: #0effdd;
        @media screen and (max-width: 768px){
            font-size: 28px;
        }
    }
    .contact-info-container {
        background-color: #fff;
        .container {
            padding-top: 40px;
            .row.contact-info-row {
                margin-top: 90px;
                z-index: 1;
                padding-bottom: 20px;
            }
        }
    }

}