#contact {
    .contact-form {
        padding: 40px;
        width: 100%;
        position: relative;
        z-index: 5;
    }
    .heading {
        font-size: 70px;
        font-family: Teko;
        color: #fff;
    }
    .input-element {
        margin: 20px 0;
    }
    input {
        width: 100%;
        background-color: #111;
        border: none;
        border-bottom: 1px solid #444;
        padding: 10px 5px;
        border-radius: 0;
        color: #fff;
        transition: .5s;
        &:focus {
            border-bottom: 1px solid #04e5e5;
            outline: none;
        }
        &.error {

        }
    }
    textarea {
        width: 100%;
        background-color: #111;
        border: none;
        border-bottom: 1px solid #444;
        padding: 10px 5px;
        border-radius: 0;
        color: rgb(255, 255, 255);
        transition: all 0.5s ease 0s;
        min-height: 100px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100px;
        &:focus {
            border-bottom: 1px solid #04e5e5;
            outline: none;
        }
    }
    button {
        display: block;
        height: 50px;
        width: 186px;
        position: relative;
        border: none;
        overflow: hidden;
        transition: .5s;
        background-color: #000;
        &:hover {
            background: #444;
        }
        span {
            position: relative;
            top: 0;
            color: #fff;
            z-index: 10;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

@keyframes errorInputAnimation {
    0% {
        border-bottom: 1px solid #111;
    }
    100% {
        border-bottom: 1px solid #ff0000;
    }
}