#blog-post {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    .particles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    #heading {
        z-index: 2;
        margin-top: 120px;
        position: relative;
        > .row {
            > .col {
                display: block;
                margin: 0 auto;
            }
        }
        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #838383;
            text-align: center;
            font-weight: 500;
            @media screen and (max-width: 991px) {
                font-size: 22px;
                line-height: 1.1em;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
        .extra-info {
            text-align: center;
            font-family: "Montserrat", sans-serif;
            color: #000;
            margin-top: 20px;
            p {
                color: #3c3c3c;
            }
            > .date-and-author {
                > div {
                    display: inline-block;
                    color: #3c3c3c;
                }
                .extra-space {
                    position: relative;
                    top: -2px;
                    span {
                        width: 10px;
                        display: inline-block;
                    }
                }
            }
            > .categories {
                > p {
                    display: inline-block;
                    margin-right: 5px;
                }
                > .categories-list {
                    display: inline-block;
                    > a {
                        cursor: pointer;
                        text-decoration: none;
                        display: inline-block;
                        margin-right: 4px;
                        color: #0475e5;
                        transition: all 0.5s ease 0s;
                        &:after {
                            content: ",";
                            display: inline-block;
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: underline;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    #post-video {
        margin-top: 30px;
        z-index: 2;
        position: relative;
        > .row {
            > .col {
                margin: 0 auto;
                .post-video {
                    overflow: hidden;
                    padding-top: 56.25%; /* 16:9*/
                    position: relative;
                    > iframe {
                        border: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .text-side {
        z-index: 2;
        position: relative;
        > .row {
            margin-top: 30px;
            background-color: #f9f9f9;
            > .col {
                margin: 0 auto;
            }
        }
        .post-text {
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: left;
            font-family: "Montserrat", sans-serif;
            color: #000;
            a {
                color: #0475e5;
                transition: all 0.5s ease 0s;
                text-decoration: unset;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: underline;
                    color: #000;
                }
            }
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-weight: 400;
                font-family: "Poppins", sans-serif;
            }
            strong {
                font-weight: 600;
            }
        }
    }
    .contact-info-container {
        padding-bottom: 20px;
    }
}
