#developer-gus {
    padding: 150px 0;
    background-color: #fff;
    > .container {
        > .row {
            > #player-2 {
                width: 100%;
                > iframe {
                    width: 100%;
                    max-width: 800px;
                    min-height: 500px;
                    @media screen and (max-width: 768px) {
                        min-height: 315px;
                    }
                }
            }
            .watch_more_button {
                margin-top: 40px;
            }
        }
    }
    .title-1 {
        z-index: 1;
        margin-bottom: 0;
        > h2 {
            text-align: center;
            > div.empty_text ~ div {
                color: #0475e5;
            }
        }
    }
    h3,
    h4 {
        font-family: "Poppins", sans-serif;
    }
    .subtitle {
        margin-top: -10px;
        color: #000;
    }
    #watch-latest-videos {
        margin-bottom: 40px;
        color: #000;
    }
}
