div#navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0 25px;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.45s ease;

    @media screen and (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 0;
        position: absolute;
        > .container {
            max-width: unset;
            padding: 0;
        }
    }

    > .container {
        > .logo-and-burger-container {
            display: none;
            flex-flow: row nowrap;
            justify-content: center;
            background-color: #fff;

            -webkit-animation: fadeInFromNone 0.5s ease-out;
            animation: fadeInFromNone 0.5s ease-out;

            @media screen and (max-width: 991px) {
                display: flex;
            }
            > div.extra {
                width: 20%;
            }
            > .top-logo-container {
                background-color: #fff;
                width: 80%;
                z-index: 1;
                > #top-logo {
                    padding-top: 5px;
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                    > .glitch {
                        font-size: 70px;
                        line-height: 50px;
                        position: relative;
                        margin-left: 10px;
                    }
                }
            }
            > .burger {
                background-color: #fff;
                width: 20%;
                position: relative;
                display: none;
                justify-content: flex-end;
                align-items: center;
                padding-right: 15px;
                z-index: 2;
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &.burger--active {
                    &:before {
                        transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
                    }
                    &:after {
                        transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
                    }
                    > .burger__patty {
                        transform: rotate(90deg);
                        &:before {
                            transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
                        }
                        &:after {
                            transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
                        }
                    }
                }
                > .burger__patty {
                    position: relative;
                    height: 2px;
                    width: 40px;
                    background: #000;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: #000;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: #000;
                    }
                }
                > .burger__patty,
                > .burger__patty:before,
                > .burger__patty:after {
                    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
                @media screen and (max-width: 991px) {
                    display: flex;
                    > .burger__patty {
                        transform: scale(0.8);
                        &.burger--active {
                            transform: scale(0.8) rotate(90deg);
                        }
                    }
                }
            }
        }
    }
    .logo-and-nav-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        z-index: -1;
        @media screen and (max-width: 991px) {
            display: none;
            &.active {
                display: flex;
            }
        }
        #top-logo {
            width: 20%;
            > .glitch {
                font-size: 70px;
                line-height: 0;
                text-align: left;
            }
        }
        #tn-nav {
            width: 80%;
            > ul {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-left: auto;
                justify-content: flex-end;
                > li {
                    > a {
                        background: none;
                        border: none;
                        cursor: pointer;
                        color: rgb(255, 255, 255);
                        text-transform: capitalize;
                        font-weight: 500;
                        margin: 10px 5px;
                        padding: 5px;
                        transition: all 0.5s ease 0s;
                        text-decoration: unset;
                        &:hover,
                        &:active,
                        &:focus {
                            color: rgb(4, 229, 229);
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            #top-logo {
                display: none;
            }
            #tn-nav {
                width: 100%;
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                background-color: #fff;
                > ul {
                    flex-flow: column nowrap;
                    padding-bottom: 10px;
                    > li {
                        width: 100%;
                        > a {
                            width: 100%;
                            display: block;
                            margin: 10px 0;
                            font-family: "Poppins", sans-serif;
                            text-transform: uppercase;
                            padding: 10px 15px;
                            line-height: 0;
                            color: #000;
                        }
                    }
                }
                &.burger--active {
                    transform: translate(0, 0) !important;
                }
            }
        }
    }
    &.scrolled {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.3);
        #tn-nav {
            > ul {
                > li {
                    > a {
                        color: #000;
                    }
                }
            }
        }
        .glitch {
            color: #0475e5;
        }
        @media screen and (max-width: 991px) {
            box-shadow: unset;
            background-color: unset;
        }
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
