#recent-projects {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    > .container-lg {
        padding: 80px 0;
        background-color: #f9f9f9;
        > .row {
            padding-left: 30px;
            padding-right: 30px;
            > .title-1 {
                z-index: 1;
                > h2 {
                    text-align: center;
                    > div.empty_text ~ div {
                        color: #000;
                    }
                }
            }
            #projects-grid {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                > div {
                    width: 31%;
                    margin-right: 15px;
                    // &:nth-child(3n) {
                    //     margin-right: 0;
                    // }
                    // &:last-child {
                    //     margin-right: auto;
                    // }
                    @media screen and (max-width: 767px) {
                        width: 45%;
                        &:nth-child(3n) {
                            margin-right: 15px;
                        }
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.slick-slider {
    .slick-list {
        overflow: inherit;
    }
    .slick-slide {
        display: block;
        margin: 0px 0 70px 0px;
    }
    .slick-dots {
        bottom: 0;
        li button:before,
        .slick-dots li.slick-active button:before {
            color: #fff;
            opacity: 1;
        }
        li.slick-active button:before {
            color: #04e5e5;
            opacity: 1;
        }
    }
}
