#hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    video {
        height: 120vh;
        position: absolute;
    }
    .heading {
        > .glitch {
            &:last-of-type {
                margin-bottom: 16px;
            }
        }
        > h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 34px;
            line-height: 32px;
            font-weight: 400;
        }
    }
    p.subheading {
        font-size: 24px;
        font-weight: 400;
        color: rgb(204, 204, 204);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: "Montserrat", sans-serif;
    }
    .type {
        color: #fff;
        text-transform: uppercase;
        margin-left: 6px;
        margin-top: 15px;
        font-weight: 400;
        @media screen and (min-width: 767px) {
            font-size: 24px;
            line-height: 22px;
        }
        span {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 4px;
        }
    }
    .hero-buttons-container {
        margin-top: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .button_1 {
            max-width: 300px;
            margin-right: 10px;
            font-size: 12px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        @media screen and (max-width: 991px) {
            margin-top: 10px;
            flex-flow: column nowrap;
            .button_1 {
                margin-right: auto;
                margin-left: auto;
                &:last-of-type {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
    #headline-container {
        position: relative;
        height: 500px;
        max-width: 900px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 991px) {
            max-width: 600px;
            .glitch {
                font-size: 60px;
                line-height: 65px;
            }
        }
        @media screen and (max-width: 767px) {
            max-width: 400px;
            height: 400px;
            .glitch {
                font-size: 40px;
                line-height: 45px;
            }
            p.subheading {
                font-size: 18px;
            }
        }
        @media screen and (max-width: 576px) {
            max-width: 350px;
            .button_1 {
                max-width: 180px;
                padding: 20px 11px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 5px;
            background: linear-gradient(120deg, #04e5e5, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
            background-size: 300% 300%;
            -webkit-clip-path: polygon(
                0% 100%,
                10px 100%,
                10px 10px,
                calc(100% - 10px) 10px,
                calc(100% - 10px) calc(100% - 10px),
                10px calc(100% - 10px),
                10px 100%,
                100% 100%,
                100% 0%,
                0% 0%
            );
            clip-path: polygon(
                0% 100%,
                10px 100%,
                10px 10px,
                calc(100% - 10px) 10px,
                calc(100% - 10px) calc(100% - 10px),
                10px calc(100% - 10px),
                10px 100%,
                100% 100%,
                100% 0%,
                0% 0%
            );
        }
        &.animate:after {
            -webkit-animation: gradientAnimation 2s ease-in-out infinite;
            animation: gradientAnimation 2s ease-in-out infinite;
        }
    }
}
