
#shapes {
    .shape {
        position: absolute;
        height: 50px;
        &.move-up {
            animation: moveUp 5s infinite  alternate;
        }
        &.move-down {
            animation: moveDown 5s infinite  alternate;
        }
        @media (max-width: 767px) {
            height: 20px;
        }
    }
}

@keyframes moveUp {
    0% { 
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

@keyframes moveDown {
    0% { 
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
}