#freebie {
    .hubspot-form {
        margin-top: 20px;
        a {
            display: block;
            margin-bottom: 10px;
            max-width: fit-content;
            text-decoration: unset;
            transition: 0.5s ease-in-out all;
            h2 {            
                margin-bottom: 1px;
                font-size: 22px;
                font-weight: 400;
                max-width: fit-content;
                font-family: 'Poppins', sans-serif;
            }
            &:after {
                content: "";
                width: 0px;
                height: 1px;
                display: block;
                background: rgb(4, 229, 229);
                transition: 400ms;
                
            }
            &:hover,
            &:active,
            &:focus {
                color: rgb(4, 229, 229);
                &:after {
                    width: 100%;
                }
            }
        }

    }
}