
#services {
    position: relative;
    padding: 100px 0;
    > .services-bg-image-container {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: "";
            background: rgba(0,0,0,0.4);
        }
        > img.services-bg-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
        }
    }
    > .container {
        > .row {
            > .title-1 {
                > h2 {
                    text-align: center;
                    text-transform: uppercase;
                    > div.empty_text ~ div {
                        color: rgb(4, 229, 229);
                    }
                }
            }
        }
    }
}